/*
 * Ledger Adapter Specification
 * This is the API specification for the Ledger Adapter with whom the FinP2P node will interact in order to execute and query the underlying implementation.
 *
 * The version of the OpenAPI document: x.x.x
 * Contact: support@ownera.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.ownera.ledger.adapter.api.api;

import io.ownera.ledger.adapter.api.ApiClient;
import io.ownera.ledger.adapter.api.ApiException;
import io.ownera.ledger.adapter.api.ApiResponse;
import io.ownera.ledger.adapter.api.Pair;

import io.ownera.ledger.adapter.api.model.IssueAssetsRequest;
import io.ownera.ledger.adapter.api.model.IssueAssetsResponse;
import io.ownera.ledger.adapter.api.model.RedeemAssetsRequest;
import io.ownera.ledger.adapter.api.model.RedeemAssetsResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2024-10-23T11:29:49.092442+03:00[Asia/Jerusalem]", comments = "Generator version: 7.9.0")
public class IssuanceApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public IssuanceApi() {
    this(new ApiClient());
  }

  public IssuanceApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Issue asset token
   * Issue specified amount of asset tokens for the owner
   * @param idempotencyKey hex encoding of a 32-byte payload consisting of 24 random bytes + 8-byte epoch timestamp (seconds) (required)
   * @param issueAssetsRequest  (optional)
   * @return IssueAssetsResponse
   * @throws ApiException if fails to make API call
   */
  public IssueAssetsResponse issueAssets(String idempotencyKey, IssueAssetsRequest issueAssetsRequest) throws ApiException {
    ApiResponse<IssueAssetsResponse> localVarResponse = issueAssetsWithHttpInfo(idempotencyKey, issueAssetsRequest);
    return localVarResponse.getData();
  }

  /**
   * Issue asset token
   * Issue specified amount of asset tokens for the owner
   * @param idempotencyKey hex encoding of a 32-byte payload consisting of 24 random bytes + 8-byte epoch timestamp (seconds) (required)
   * @param issueAssetsRequest  (optional)
   * @return ApiResponse&lt;IssueAssetsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<IssueAssetsResponse> issueAssetsWithHttpInfo(String idempotencyKey, IssueAssetsRequest issueAssetsRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = issueAssetsRequestBuilder(idempotencyKey, issueAssetsRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("issueAssets", localVarResponse);
        }
        return new ApiResponse<IssueAssetsResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<IssueAssetsResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder issueAssetsRequestBuilder(String idempotencyKey, IssueAssetsRequest issueAssetsRequest) throws ApiException {
    // verify the required parameter 'idempotencyKey' is set
    if (idempotencyKey == null) {
      throw new ApiException(400, "Missing the required parameter 'idempotencyKey' when calling issueAssets");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/assets/issue";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (idempotencyKey != null) {
      localVarRequestBuilder.header("Idempotency-Key", idempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(issueAssetsRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Asset Token Redeem
   * Redeem existing asset token for new owner. Redeem of ownership is done by eliminating existing tokens owned by the owner.
   * @param idempotencyKey hex encoding of a 32-byte payload consisting of 24 random bytes + 8-byte epoch timestamp (seconds) (required)
   * @param redeemAssetsRequest  (optional)
   * @return RedeemAssetsResponse
   * @throws ApiException if fails to make API call
   */
  public RedeemAssetsResponse redeemAssets(String idempotencyKey, RedeemAssetsRequest redeemAssetsRequest) throws ApiException {
    ApiResponse<RedeemAssetsResponse> localVarResponse = redeemAssetsWithHttpInfo(idempotencyKey, redeemAssetsRequest);
    return localVarResponse.getData();
  }

  /**
   * Asset Token Redeem
   * Redeem existing asset token for new owner. Redeem of ownership is done by eliminating existing tokens owned by the owner.
   * @param idempotencyKey hex encoding of a 32-byte payload consisting of 24 random bytes + 8-byte epoch timestamp (seconds) (required)
   * @param redeemAssetsRequest  (optional)
   * @return ApiResponse&lt;RedeemAssetsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RedeemAssetsResponse> redeemAssetsWithHttpInfo(String idempotencyKey, RedeemAssetsRequest redeemAssetsRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = redeemAssetsRequestBuilder(idempotencyKey, redeemAssetsRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("redeemAssets", localVarResponse);
        }
        return new ApiResponse<RedeemAssetsResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<RedeemAssetsResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder redeemAssetsRequestBuilder(String idempotencyKey, RedeemAssetsRequest redeemAssetsRequest) throws ApiException {
    // verify the required parameter 'idempotencyKey' is set
    if (idempotencyKey == null) {
      throw new ApiException(400, "Missing the required parameter 'idempotencyKey' when calling redeemAssets");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/assets/redeem";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (idempotencyKey != null) {
      localVarRequestBuilder.header("Idempotency-Key", idempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(redeemAssetsRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
