/*
 * Ledger Adapter Specification
 * This is the API specification for the Ledger Adapter with whom the FinP2P node will interact in order to execute and query the underlying implementation.
 *
 * The version of the OpenAPI document: x.x.x
 * Contact: support@ownera.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.ownera.ledger.adapter.api.api;

import io.ownera.ledger.adapter.api.ApiClient;
import io.ownera.ledger.adapter.api.ApiException;
import io.ownera.ledger.adapter.api.ApiResponse;
import io.ownera.ledger.adapter.api.Pair;

import io.ownera.ledger.adapter.api.model.GetAssetBalanceRequest;
import io.ownera.ledger.adapter.api.model.GetAssetBalanceResponse;
import io.ownera.ledger.adapter.api.model.GetReceiptResponse;
import io.ownera.ledger.adapter.api.model.TransferAssetRequest;
import io.ownera.ledger.adapter.api.model.TransferAssetResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2024-10-23T11:29:49.092442+03:00[Asia/Jerusalem]", comments = "Generator version: 7.9.0")
public class TransactionsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public TransactionsApi() {
    this(new ApiClient());
  }

  public TransactionsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Get asset balance
   * Get asset balance for specified owner
   * @param getAssetBalanceRequest  (optional)
   * @return GetAssetBalanceResponse
   * @throws ApiException if fails to make API call
   */
  public GetAssetBalanceResponse getAssetBalance(GetAssetBalanceRequest getAssetBalanceRequest) throws ApiException {
    ApiResponse<GetAssetBalanceResponse> localVarResponse = getAssetBalanceWithHttpInfo(getAssetBalanceRequest);
    return localVarResponse.getData();
  }

  /**
   * Get asset balance
   * Get asset balance for specified owner
   * @param getAssetBalanceRequest  (optional)
   * @return ApiResponse&lt;GetAssetBalanceResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GetAssetBalanceResponse> getAssetBalanceWithHttpInfo(GetAssetBalanceRequest getAssetBalanceRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getAssetBalanceRequestBuilder(getAssetBalanceRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getAssetBalance", localVarResponse);
        }
        return new ApiResponse<GetAssetBalanceResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<GetAssetBalanceResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAssetBalanceRequestBuilder(GetAssetBalanceRequest getAssetBalanceRequest) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/assets/getBalance";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(getAssetBalanceRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Receipt
   * Get asset transaction receipt
   * @param transactionId ID of the asset transaction (required)
   * @return GetReceiptResponse
   * @throws ApiException if fails to make API call
   */
  public GetReceiptResponse getReceipt(String transactionId) throws ApiException {
    ApiResponse<GetReceiptResponse> localVarResponse = getReceiptWithHttpInfo(transactionId);
    return localVarResponse.getData();
  }

  /**
   * Get Receipt
   * Get asset transaction receipt
   * @param transactionId ID of the asset transaction (required)
   * @return ApiResponse&lt;GetReceiptResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GetReceiptResponse> getReceiptWithHttpInfo(String transactionId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getReceiptRequestBuilder(transactionId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getReceipt", localVarResponse);
        }
        return new ApiResponse<GetReceiptResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<GetReceiptResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getReceiptRequestBuilder(String transactionId) throws ApiException {
    // verify the required parameter 'transactionId' is set
    if (transactionId == null) {
      throw new ApiException(400, "Missing the required parameter 'transactionId' when calling getReceipt");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/assets/receipts/{transactionId}"
        .replace("{transactionId}", ApiClient.urlEncode(transactionId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Asset Token Transfer
   * Transfer existing asset token to a new owner. Transfer of ownership is done by eliminating existing tokens owned by the sender and creating new tokens with the new owner.
   * @param idempotencyKey hex encoding of a 32-byte payload consisting of 24 random bytes + 8-byte epoch timestamp (seconds) (required)
   * @param transferAssetRequest  (optional)
   * @return TransferAssetResponse
   * @throws ApiException if fails to make API call
   */
  public TransferAssetResponse transferAsset(String idempotencyKey, TransferAssetRequest transferAssetRequest) throws ApiException {
    ApiResponse<TransferAssetResponse> localVarResponse = transferAssetWithHttpInfo(idempotencyKey, transferAssetRequest);
    return localVarResponse.getData();
  }

  /**
   * Asset Token Transfer
   * Transfer existing asset token to a new owner. Transfer of ownership is done by eliminating existing tokens owned by the sender and creating new tokens with the new owner.
   * @param idempotencyKey hex encoding of a 32-byte payload consisting of 24 random bytes + 8-byte epoch timestamp (seconds) (required)
   * @param transferAssetRequest  (optional)
   * @return ApiResponse&lt;TransferAssetResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TransferAssetResponse> transferAssetWithHttpInfo(String idempotencyKey, TransferAssetRequest transferAssetRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = transferAssetRequestBuilder(idempotencyKey, transferAssetRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("transferAsset", localVarResponse);
        }
        return new ApiResponse<TransferAssetResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<TransferAssetResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder transferAssetRequestBuilder(String idempotencyKey, TransferAssetRequest transferAssetRequest) throws ApiException {
    // verify the required parameter 'idempotencyKey' is set
    if (idempotencyKey == null) {
      throw new ApiException(400, "Missing the required parameter 'idempotencyKey' when calling transferAsset");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/assets/transfer";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (idempotencyKey != null) {
      localVarRequestBuilder.header("Idempotency-Key", idempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(transferAssetRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
